beautifulsoup4==4.7.0
bs4==0.0.1
cycler==0.10.0
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
numpy==1.15.4
Pillow==8.1.1
pyparsing==2.3.0
python-dateutil==2.7.5
python-markdown-mathjax==1.0.4
reportlab==3.5.12
six==1.12.0
soupsieve==1.6.2
